.card1 {
    background: #222;
    border: 3px solid #dd2476;
    color: rgba(250, 250, 250, 0.8);
    margin-bottom: 2rem;
  }
  .card2  {
    background: #222;
   
    color: rgba(250, 250, 250, 0.8);
  
   
  }
  